# Node.js
node_modules/
packages/playground/*
packages/test/*
packages/stylex2/*
packages/test2/*
!packages/playground/package.json

# Next.js
.next/
out/

# build
build/
*.tsbuildinfo

# env
.env
.env.local

# IDE & OS
.DS_Store
*.log
pnpm-debug.log*

# Monorepo (pnpm)
.pnp/
.pnp.js
.pnpm/
